---
interface Props {
  name: string;
  url: string;
}

const { url, name } = Astro.props;
const id = url.split("/").at(-2);
const imageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a
  href={`/pokemons/${name}`}
  class="rounded flex flex-col justify-center items-center p-2 border"
>
  <img src={imageUrl} alt={`Pokemon ${name}`} />
  <span class="capitalize">{name}</span>
</a>
